<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/security
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.show_sql">true</property>

		<mapping resource="com/ldp/security/basedata/domain/Department.hbm.xml"/>
		<mapping resource="com/ldp/security/basedata/domain/User.hbm.xml"/>
		<mapping resource="com/ldp/security/basedata/domain/YearInfo.hbm.xml"/>
		<mapping resource="com/ldp/security/basedata/domain/PeriodInfo.hbm.xml"/>
		
		<mapping resource="com/ldp/security/report/domain/SecurityForm.hbm.xml"/>
		<mapping resource="com/ldp/security/report/domain/CommonForm.hbm.xml"/>
		<mapping resource="com/ldp/security/report/domain/KeyunForm.hbm.xml"/>
		
		<mapping resource="com/ldp/security/sta/domain/StaPeriodInfo.hbm.xml"/>
		<mapping resource="com/ldp/security/sta/domain/CommonSta.hbm.xml"/>
		<mapping resource="com/ldp/security/sta/domain/KeyunSta.hbm.xml"/>
		<mapping resource="com/ldp/security/sta/domain/StaPeriodSecurity.hbm.xml"/>

	</session-factory>
</hibernate-configuration>
